<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <!--- <body bgcolor="black"> --->
    <div class="page-content">
        {{ content }}
    </div>

    <div class="container content">
        <!--- {% include comments.html %} REMOVE COMMENT TO BRING DISQUS BACK --->

        <!--- NEW COMMENT SYSTEM BEGINE --->

          <div id="comments"></div>
          <script>
          window.rpc_host = 'https://rpc.dyuproject.com';
          window.comments_max_depth = 10; // max: 127
          window.comments_collapse_depth = 7; // the depth where comments get collapsed by default
          </script>
          <script src="https://netlify-comments.dyuproject.com/dist/build.js"></script>
          <link rel="stylesheet" href="https://netlify-comments.dyuproject.com/dist/build.css" />

          <!--- NEW COMMENT SYSTEM END --->

    </div>

    {% include footer.html %}

    <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/5b8881b7afc2c34e96e81322/default';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
<!--End of Tawk.to Script-->



  </body>

</html>
